workspace/*
!workspace/README.md

*/**/__pycache__/*
__pycache__

outputs/*
!outputs/README.md

*.ipynb

reproducer/workspace/*
!reproducer/workspace/README.md

analyzer/maven/*

.vscode/*

/venv/*

*.pyc

*.txt

*.csv
